/target
/.vscode
/.idea
/.AddCompLib
/violin_output
/textures
/node_modules
/Cargo.lock
/denoapi/.vscode
/denoapi/target
/denoapi/violin_output
/denoapi/Cargo.lock
/js-cli/target
/item_component_macros/target
/standalone_gen
/block_component_macros/target
/viola/target
/wiolin