"{{id}}": {
    "sound": "{{sound}}",
    "textures": {
        "up": "{{up}}",
        "down": "{{down}}",
        "north": "{{north}}",
        "south": "{{south}}",
        "east": "{{east}}",
        "west": "{{west}}"
    }
}